// Animation Set Up - Variables
$ad-screen-count: 5;    //  Number of screens in the slide show
$ad-screen-duration: 3; //  Duration each screen is displayed at full opacity
$ad-fade-duration: 1;  //  Duration each screen takes to fade in and fade out

$ad-msg-duration: $ad-fade-duration + $ad-screen-duration;  // duration of one screen's
                                                            // animation. Fade in + display

$total-duration: $ad-msg-duration * $ad-screen-count;       // duration of slide show


$ad-screen-pct: 100% / $ad-screen-count;
$ad-fade-pct: $ad-fade-duration / $total-duration * 100%;
$ad-hide-pct: $ad-screen-pct + $ad-fade-pct;

$vendors: "-webkit-", "-moz-", "-o-", "";

// @warn 'hide-pct:' $ad-hide-pct 'fade-pct:' $ad-fade-pct;

// Animation Set Up -  Step 1
@mixin fadeInOut {
  0%                                  { opacity: 0; }
  #{$ad-fade-pct}, #{$ad-screen-pct}  { opacity: 1; }
  #{$ad-hide-pct}, 100%               { opacity: 0; }
}
@-webkit-keyframes adAnimation { @include fadeInOut }
@-moz-keyframes adAnimation { @include fadeInOut }
@-o-keyframes adAnimation { @include fadeInOut }
@keyframes adAnimation { @include fadeInOut }

// Animate the Ad - Step 2
.ad {
  .msg {
    @each $vendor in $vendors {
      #{$vendor}animation: adAnimation #{$total-duration}s infinite;
    }
    

    @for $i from 1 through $ad-screen-count {
      &:nth-of-type(#{$i}) {
        @each $vendor in $vendors {
          #{$vendor}animation-delay: #{($i - 1) * $ad-msg-duration}s;
        }
      }
    }
  }
}